<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.js</title>
    <link rel="stylesheet" href="assets/style.css" type="text/css">
</head>
<body>
    <h1>Numeros</h1>
    <p>La ruta /{número} regresa si es par o impar</p>
    <% if(ID % 2 == 0){ %>
        <% for(var i = 0; i < ID*2; i++) {%>
            <li>ES PAR</li>
          <% } %>
      <% } else{ %>  
        <% for(var i = 0; i < ID; i++) {%>
            <li>ES IMPAR</li>
          <% } %>
     <% } %>
</body>
</html>